XML/XSD Schema/Actividad1/Ejercicio2.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="ejercicio2">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="ciudad" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="fecha-de-nacimiento">
                    <xs:simpleType>
                        <xs:restriction base="xs:date">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="hora">
                    <xs:simpleType>
                        <xs:restriction base="xs:time">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="nota">
                    <xs:simpleType>
                        <xs:restriction base="xs:float">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="apto">
                    <xs:simpleType>
                        <xs:restriction base="xs:boolean">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="puertaAbierta" default="true">
                    <xs:simpleType>
                        <xs:restriction base="xs:boolean">
                        
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="ventanaCerrada" fixed="false">
                    <xs:simpleType>
                        <xs:restriction base="xs:boolean">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

            </xs:sequence>

    

        </xs:complexType>


    </xs:element>

   

</xs:schema>
